/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
* {
  box-sizing: border-box;
}

body {
  background-color: #F4F6FA
}

.title.MuiTypography-h1 {
  font-family: 'Mochiy Pop One';
  color: #386ABB;
}

.link {
  position: relative;
  z-index: 1;
  color: #242730;
  padding: 0.8rem 1.5rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  max-height: 2px;
  background-color: #FF9D00;
  transition: max-height .3s;
}

.link:hover::after {
  max-height: 100%;

}

.nav__btn.MuiButton-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__btn.MuiButton-root>span {
  margin: 0 auto;
}